.app {
  text-align: center;
}

.todo-list {
  list-style-position: inside;
  list-style-type: none;
}

li {
  line-height: 40px;
  width: 98%;
}

ol {
  width: 28%;
  display: inline-block;
}

b,
button {
  margin-right: 1%;
}

#add-btn {
  margin-top: 2rem;
}

#eth-img {
  height: 2rem;
  width: 3%;
  position: relative;
  top: 0.2rem;
}
