.app {
  text-align: center;
}

.todo-list {
  list-style-position: inside;
}

li {
  line-height: 40px;
  width: 88%;
}

ol {
  width: 28%;
  display: inline-block;
}

b,
button {
  margin-right: 1%;
}

#add-btn {
  margin-top: 2rem;
}
